<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" type ="text/css" href="{{url_for('static', filename ='style.css')}}">
       <link rel="shortcut icon" href="Lock.ico" type="image/x-icon">
  </head>
  <body>

<h1>Disclamer:</h1>
<h1>I am not responsible for any damage done to you or your device.</h1>

    <script src="{{ url_for('static', filename='anticheat.js') }}"> </script>

<script>

     var counter = 0
    var stop = window.setInterval(counting, 1000)
    console.log(stop)
    var newElement = document.createElement("p")
    var insertnum = document.createTextNode(counter)
    newElement.appendChild(insertnum)


    function counting() {
        counter += 1

        console.log(counter)

        document.body.appendChild(newElement)


        insertnum.replaceData(0, 2, counter)

        if (counter > 5 ) {
            window.clearInterval(stop)
            location.href= "/intro"
        }
    }
</script>
  </body>
</html>



<!--Change all links to buttons execpt for Invis.html. It need to be link to be Inivs,
unless I can find way to change color of button and text.
Use of PUSH HISTORY to make URLs unreadable so no one can cheat?-->