<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="Lock.ico" type="image/x-icon">
  <title>Find the button</title>
  <style>
    body {
      text-align: center;
      background: blue;
    }

    a {
      color: blue;
    }
  </style>
</head>

<body>
  <script src="{{ url_for('static', filename='anticheat.js') }}"> </script>
  <Marquee>
    <h1>YAY YOU DID BUT NEXT TIME YOU WON'T BE SO LUCKY!</h1>
  </Marquee>
  <a href="/MiniGame">NEXT</a>
  <h1>Find the button</h1>
</body>

</html>