<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--placeholder style-->
   <link rel="stylesheet" type ="text/css" href="{{url_for('static', filename ='style3.css')}}">
  <link rel="shortcut icon" href="Lock.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>.....</title>
</head>

<body>
  <script src="{{ url_for('static', filename='anticheat.js') }}"> </script>
  <h1>you think your so good don't you well then I guess I will have to make it harder! whon't I</h1>

  <a href="/Stop">YES</a>

  <a href="/Encrypted">NO</a>

</body>

</html>