<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--placeholder style-->
  <link rel="stylesheet" type ="text/css" href="{{url_for('static', filename ='style3.css')}}">
  <link rel="shortcut icon" href="Lock.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HA HA HA</title>
</head>

<body>
  <script src="{{ url_for('static', filename='anticheat.js') }}"> </script>
  <h1> find the right button! </h1>

  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="go();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
  <button onclick="reset();"> click me</button>
  <br>
 <button onclick="reset();"> click me</button>

<script>
  function reset(){
    location.href = "/Encrypted"
  }

  function go () {
    location.href = "/You"
  }
</script>
</body>

</html>